<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>注册丨IxStudy</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/cropper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/ImgCropping.css' %}">

<body>

<div class="register-container">
    <h1>IxStudy知识学习平台</h1>

    <div class="connect">
        <p>欢迎注册</p>
    </div>

    <form action="" method="post" id="registerForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="preview-box-parcel">
            <div style="background: url({% static 'images/default.jpg' %});background-size: contain;width: 100px;height: 100px;border: solid 1px #555;padding: 5px;margin-top: 20px; position: relative; left: 31%"
                 class="circular previewImg">
                <img id="finalImg" src="" width="100%">
            </div>
        </div>
        <button type="button" id="replaceImg">更换头像</button>
        <div>
            {{ form_obj.username }}
            {% if form_obj.username.errors.0 %}
                <label class="error">{{ form_obj.username.errors.0 }}</label>
            {% endif %}
        </div>
        <div>
            {{ form_obj.password }}
            {% if form_obj.password.errors.0 %}
                <label class="error">{{ form_obj.password.errors.0 }}</label>
            {% endif %}
        </div>
        <div>
            {{ form_obj.re_password }}
            {% if form_obj.re_password.errors.0 %}
                <label class="error">{{ form_obj.re_password.errors.0 }}</label>
            {% endif %}
        </div>
        <div>
            {{ form_obj.position }}
            {% if form_obj.position.errors.0 %}
                <label class="error">{{ form_obj.position.errors.0 }}</label>
            {% endif %}
        </div>
        <div>
            {{ form_obj.company }}
            {% if form_obj.company.errors.0 %}
                <label class="error">{{ form_obj.company.errors.0 }}</label>
            {% endif %}
        </div>
        <div>
            {{ form_obj.phone }}
            {% if form_obj.phone.errors.0 %}
                <label class="error">{{ form_obj.phone.errors.0 }}</label>
            {% endif %}
        </div>


        <!--图片裁剪框 start-->
        <div style="display: none" class="tailoring-container">
            <div class="black-cloth" onclick="closeTailor(this)"></div>
            <div class="tailoring-content">
                <div class="tailoring-content-one">
                    <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="avatar" id="chooseImg"
                               class="hidden" onchange="selectImg(this)">
                        选择图片
                    </label>
                    <div class="close-tailoring" onclick="closeTailor(this)">×</div>
                </div>
                <div class="tailoring-content-two">
                    <div class="tailoring-box-parcel">
                        <img id="tailoringImg">
                    </div>
                    <div class="preview-box-parcel">
                        <p>图片预览：</p>
                        <div class="square previewImg"></div>
                        <div class="circular previewImg"></div>
                    </div>
                </div>
                <div class="tailoring-content-three">
                    <button type="button" class="l-btn operation cropper-reset-btn">重置</button>
{#                    <button type="button" class="l-btn operation cropper-rotate-btn">旋转</button>#}
{#                    <button type="button" class="l-btn operation cropper-scaleX-btn">换向</button>#}
                    <button type="button" class="l-btn sureCut" id="sureCut">确定</button>
                </div>
            </div>
        </div>
        <!--图片裁剪框 end-->
        {#        <div>#}
        {#            {{ form_obj.avatar }}#}
        {#            <span>{{ form_obj.avatar.errors.0 }}</span>#}
        {#        </div>#}
        <div>
            <input type="hidden" name="x" id="id_x"/>
            <input type="hidden" name="y" id="id_y"/>
            <input type="hidden" name="width" id="id_width"/>
            <input type="hidden" name="height" id="id_height"/>
        </div>
        <button id="submit" type="submit">注 册</button>
    </form>
    <a href="{% url 'login' %}">
        <button type="button" class="register-tis">已经有账号？</button>
    </a>

</div>

</body>
<!-- 引入jquery库，如果页面已经有其他版本的也行，不要重复引用 -->
<script src="https://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<!--自动更换背景图片用的一个插件-->
<script src="{% static 'js/supersized.js' %}"></script>
<!--表单验证的插件-->
<script src="{% static 'js/jquery.js' %}"></script>

<!-- 上面三个js不要改，下面才是我们自定义的 -->
<script src="{% static 'js/common.js' %}"></script>
<!-- 背景图片更换配置 -->
<script src="{% static 'js/supersized-init.js' %}"></script>

<script src="{% static 'js/cropper.min.js' %}"></script>
<script>
    //弹出框水平垂直居中
    (window.onresize = function () {
        var win_height = $(window).height();
        var win_width = $(window).width();
        if (win_width <= 768) {
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
                "left": 0
            });
        } else {
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
                "left": (win_width - $(".tailoring-content").outerWidth()) / 2
            });
        }
    })();

    //弹出图片裁剪框
    $("#replaceImg").on("click", function () {
        $(".tailoring-container").toggle();
    });

    //图像上传
    function selectImg(file) {
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var replaceSrc = evt.target.result;
            //更换cropper的图片
            $('#tailoringImg').cropper('replace', replaceSrc, false);//默认false，适应高度，不失真
        }
        reader.readAsDataURL(file.files[0]);
    }

    //cropper图片裁剪
    $('#tailoringImg').cropper({
        aspectRatio: 1 / 1,//默认比例
        preview: '.previewImg',//预览视图
        guides: false,  //裁剪框的虚线(九宫格)
        autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
        movable: false, //是否允许移动图片
        dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
        cropBoxMovable: true,  //是否允许移动剪裁框
        zoomOnWheel: true,
        resizable: true,  //是否允许改变裁剪框的大小
        zoomable: true,  //是否允许缩放图片大小
        touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
        rotatable: true,  //是否允许旋转图片
        viewMode: 2,
        dragMode: 'move',
        crop: function (e) {
            // 输出结果数据裁剪图像。
        }
    });
    //旋转
    /*$(".cropper-rotate-btn").on("click", function () {
        $('#tailoringImg').cropper("rotate", 45);
    });*/
    //复位
    $(".cropper-reset-btn").on("click", function () {
        $('#tailoringImg').cropper("reset");
    });
    //换向
    /*var flagX = true;
    $(".cropper-scaleX-btn").on("click", function () {
        if (flagX) {
            $('#tailoringImg').cropper("scaleX", -1);
            flagX = false;
        } else {
            $('#tailoringImg').cropper("scaleX", 1);
            flagX = true;
        }
        flagX != flagX;
    });*/
    //裁剪后的处理
    $("#sureCut").on("click", function () {
        if ($("#tailoringImg").attr("src") == null) {
            return false;
        } else {
            var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
            var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
            $("#finalImg").prop("src", base64url);//显示为图片的形式
            var cropData = $("#tailoringImg").cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);

            //关闭裁剪框
            closeTailor();
        }
    });

    //关闭裁剪框
    function closeTailor() {
        $(".tailoring-container").toggle();
    }


</script>
</html>